body{
	background-color: #333;
	color: #157501;
	color: #f29c1b;
	margin:0;
	padding:0;
	font-family: "Comic Sans MS" , cursive, sans-serif;
	font-family: Arial, Helvetica, sans-serif;
	font-family: 'Barlow', sans-serif;
}
.topo{
	/*background-color: #fff;*/
	display: flex;
	height: 130px;
	color: linear-gradient(-90deg, red, yellow);
	/*background-color: #fff;*/
}
.area_logo{
	width: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 120px;
	border-radius: 100%;
	background-color: #fff;
}

.logo img{
	width: 120px;
	height: 60px;
}
.barra_topo{
	display: flex;
	justify-content: center;
	align-items: center;
	width:90%;
	text-align: center;
	font-size: 40px;
	height: 100%;
	margin-right: 15%;
	/*padding:0;*/
	font-size: 60px;
	background: -webkit-linear-gradient(#f29c1b, #ff3700);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.duas_caixas{
	display: flex;
	width: 100%;
	height: 15%;
	flex-direction: row;
	/*background-color: #fff;*/
}


.caixa_direita, .caixa_esquerda{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	height: 100%;
	/*background-color: #cb8;*/
}

.caixa_esquerda form select{
	/*background-color: #cff;*/
	border-radius: 3px;
	/*width: 8%;*/
	font-size: 15px;
}

/*.caixa_esquerda {
	background-color: #cfe;
}*/
.area_delimitada{
	width: 100%;
	margin-top: 1%;
	display: flex;
	/*justify-content: flex-start;*/
	align-items: center;
	background-color:#444;
	flex-direction: column;

}
.caixa_login{
	display: flex;
	font-size: 30px;
	margin-top: 1%;
	justify-content: center;
	align-items: flex-start;
	width:100%;
}

.caixa_esquerda form{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

.btn_start, .btn_stop{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	color: #fff;
	/*background-color: #7cff75;*/
	background-color: #8bdd65;

	border-radius: 4px;
}

.btn_stop{
		background-color: #faa;
}


.botao{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 30%;
	height: 60%;
	font-size: 20px;
	border-radius: 4px;
	display: none;

	}

.botao:hover{
	background-color:#aaa;
	color: #fff;
}

.btn_icone{
    height: 30px;
    width: 30px;
    font-size: 15px;
	border: 2px solid #aaa;
	color: #666;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
}

.qtd_horas{
	text-align: center;
	width:100%;
	height:10%;
	color: #fff;
	font-size: 25px;
	display: none;
}

.horas_trabalhadas{
	margin-top: 2%;;
	height: 400px;
	width: 70%;
	background-color: #ffd;
	background-color: #aaa;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	/*margin: 2%; */
	flex-direction:column;
	padding: 1%;
	color: #fff;
	font-size: 20px;
	border-radius: 3px;
	overflow:auto; 
	display:none;

}


.linha{
	font-style: 15%;
	width: 100%;
	height: 50px;
	display: flex;
	flex-direction: row;


}
.celula{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	/*background-color: #fec;*/
	width: 25%;
	height: 100%;
	flex-wrap: nowrap;
	border-bottom: 1px solid #ccc;
}

/*.titulo{
	display: flex;
	justify-content: center;
}*/

.cabecalho{
	height: 101px;
	background-color: #fff;
}

.topo_tabela{
	width: 98%;
	background-color: #fe5;
	color: #444;
	border-radius: 3px;
	text-align: center;
	margin-bottom: 1%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 1%;
	
}
.titulo_relatorio{
	color: #444;
	width: 90%;
	/*background-color: #cfe;*/
	font-size: 30px;
}
.tabela_informativa{
	width: 100%;
}


.linha_sup_titula_tab{
	display: flex;
	flex-wrap: wrap;
}
.linha_relatorio{
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #fff;

}

.celula_relatorio{
	width: 50%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.validacao{
	height: 100%;
	width: 100%;
	display: none;
}
.filtro{
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.filtro input{
	border: 1px solid #feb;
	border-radius: 3px;
}

.validacao{
	height: 100%;
	width: 100%;
	display: none;
}

.btn_validacao{
	height: 100%;
	widows: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
} 
.filtro_toppo{
	background-color: #fe5;
	border: 0;
	font-family: 'Barlow', sans-serif;
	font-size: 18px;
	
}

.filtro_toppo:hover{
	background-color: #ccc;
}